@model Benefacts.Models.Relative

<h2>Edit</h2>

<h4>Relative</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RelId" />
            <div class="form-group">
                <label asp-for="FName" class="control-label">First Name</label>
                <input asp-for="FName" class="form-control" required/>
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label">Last Name</label>
                <input asp-for="LName" class="form-control" required/>
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relation" class="control-label"></label>
                @*<input asp-for="Relation" class="form-control" required />
                <span asp-validation-for="Relation" class="text-danger"></span>

                <label asp-for="Relation" class="control-label"></label>*@
                @*<option value="1" selected="selected"> Son </option>*@
                
                @*<select asp-for="Relation" class="form-control" />
                    <option value="Son" selected="selected"> Son </option>
                    <option value="Daughter"> Daughter </option>
                    <option value="Spouse"> Spouse </option>
                    <option value="Parent"> Parent </option>
                    <option value="Aunt"> Aunt </option>
                    <option value="Uncle"> Uncle </option>
                    <option value="Grandma"> Grandma </option>
                    <option value="Grandpa"> Grandpa </option>
                    <option value="Brother"> Brother </option>
                    <option value="Sister"> Sister </option>*@

                <select asp-for="Relation" class="form-control" asp-items="ViewBag.Types"></select>
                @*<select asp-for="Relation" class="form-control" asp-items="@(SelectList) @ViewData["Types"]"></select>*@


                <span asp-validation-for="Relation" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input asp-for="UId" class="form-control" style="display: none" value="@ViewData["UId"]">
                <span asp-validation-for="UId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" onclick="return confirm('Are you sure you want to update this dependant? It will be permenant.');" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@ViewData["UId"]">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
