@model Benefacts.Models.Admin

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" required/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label> <span id="caps" style="color: red; opacity: 0">Caps lock is on!</span>
                <input asp-for="Password" id="pass" class="form-control" type="password" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password</label> <span id="caps2" style="color: red; opacity: 0">Caps lock is on!</span>
                <input id="passCheck" class="form-control" type="password" onkeyup="checkPass(); return false;" required/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="sub" type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function checkPass() {
        var pass1 = document.getElementById('pass');
        var pass2 = document.getElementById('passCheck');
        //var button = document.getElementById('sub').disabled;
        var goodColor = "#66cc66";
        var badColor = "#ff6666";    
        if (pass1.value == pass2.value) {
            pass2.style.backgroundColor = goodColor;
            document.getElementById('sub').disabled = false;
            //message.style.color = goodColor;
            //message.innerHTML = "Passwords Match!"
        } else {
            pass2.style.backgroundColor = badColor;
            document.getElementById('sub').disabled = true;
            //message.style.color = badColor;
            //message.innerHTML = "Passwords Do Not Match!"
        }
    }  
</script>

<script>
    //check if capslock is pressed
    document.addEventListener('keydown', function (event) {
        var caps = event.getModifierState && event.getModifierState('CapsLock');
        capsLabel = document.getElementById("caps");
        capsLabel2 = document.getElementById("caps2");
        if (caps) {
            capsLabel.style.opacity = 1;
            capsLabel2.style.opacity = 1;
        } else {
            capsLabel.style.opacity = 0;
            capsLabel2.style.opacity = 0;
        }
    });
</script>