@model Benefacts.Models.Admin
<div>
    <hr />
    <form asp-action="Delete">
        <h4>
            Deletion of the admin @Html.DisplayFor(model => model.Username) will be permenant,
            make sure they are no longer an admin.
        </h4>
        <input type="hidden" asp-for="AId" />
        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this admin? It will be permenant.');" class="btn btn-default" />
    </form>
    <a asp-action="Index">Back to List</a>
</div>