@model Benefacts.Models.Users
<div>

    <hr />
    <form asp-action="Delete">
        <h4>
            Deletion of @Html.DisplayFor(model => model.FName) @Html.DisplayFor(model => model.LName) will be permenant,
            make sure they are leaving the company.
        </h4>
        <input type="hidden" asp-for="UId" />
        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this employee? It will be permenant.');" class="btn btn-default" />
    </form>
    <a asp-action="Details" asp-route-id="@ViewData["UId"]">Back</a> |
    <a asp-action="Edit" asp-route-id="@ViewData["UId"]">Edit</a>

</div>