<h1>FAQ</h1>

<p class="question">Q: How are benefits calculated</p>
<p class="answer">
    A: Benefits are calculated on a per person basis. Each person that is part of the benifits package
    results in a deduction of $@ViewData["PerPerson"] from the base yearly benifits package. If this persons name begins
    with an 'A', a discount of @ViewData["Discount"]% is applied to their cost, in this case $@ViewData["AName"].
</p>

<p class="question">Q: Why is my paycheck not $2000</p>
<p class="answer">
    A: If you have enough dependents to overcome the $@ViewData["Benefits"] in benefits alloted to you
    then your benefits will start to be paid for out of your paycheck.
</p>

<p class="question">Q: How many paychecks do I get</p>
<p class="answer">A: Our company distributes a total of @ViewData["numChecks"] paychecks per year, in denominations of $@ViewData["PayCheck"]</p>

@*<p class="question">Q: </p>
    <p class="answer">A: </p>*@

<h1 class="btn btn-default" onclick="showAdd()">Contact Us</h1>
@*<p class="btn btn-default" onclick="showAdd()" >Didn't answer your question?</p>*@
@*<a asp-action="Contact" class="btn btn-default" style="margin-left: 2vw;">Contact</a>*@

@*<address id="ad1">
        4858 East Douglas Fir Street<br />
        Boise, ID 83716<br />
    </address>*@

<address id="ad2">
    <form method="POST">

        <div class="form-group">
            <label for="email" class="control-label">Your Email</label>
            <input type="text" id="email"  class="form-control" name="email" placeholder="email" />
        </div>

        <div class="form-group">
            <textarea class="form-control" id="text" name="text" rows="3" placeholder="Question" ></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-default" />
        </div>
    </form>
    <br />
    <strong>Email:</strong> <a href="mailto:kepatoto@gmail.com">kepatoto@gmail.com</a><br />
    <strong>Phone:</strong><a href="tel:1-208-599-5425">(208) 599-5425</a>
    <br />
</address>


<script>
    var show = 1;
    function showAdd() {
        hide("ad2");
    }

    //function slowHide(id) {
    //    var fadeTarget = document.getElementById(id);
    //    fadeTarget.style.display = "block";
    //    var fadeEffect = setInterval(function () {
    //        if (!fadeTarget.style.opacity) {
    //            fadeTarget.style.opacity = 1;
    //        }
    //        if (fadeTarget.style.opacity > 0) {
    //            fadeTarget.style.opacity -= 0.05;

    //        } else {
    //            clearInterval(fadeEffect);
    //            fadeTarget.style.display = "none";//this is pointless if inline, but left it here if I change my mind
    //            fadeTarget.style.opacity = 1;
    //        }
    //    }, 25);
    //}

    function hide(id) {
        var e = document.getElementById(id);
        if (e.style.display == "block") {
            e.style.display = "none";
        } else {
            e.style.display = "block";
        }
    }

</script>