@{
    ViewData["Title"] = "Contact";
}
<h2>our views data: @ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<br />
<form method="POST">
    <label for="FName">Relative name</label>
    <br />
    <input type="text" id="FName" class="form-inline" name="FName" placeholder="first" />
    <br />
    <br />
    <input type="text" id="LName" class="form-inline" name="LName" placeholder="last" />
    <br />
    <br />
    <input type="submit" />
</form>
<br />
<address>
    4858 East Douglas Fir Street<br />
    Boise, ID 83716<br />
    <abbr title="Phone">P:</abbr>
    208.599.5425
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kepatoto@gmail.com">kepatoto@gmail.com</a><br />
</address>
